
{{turnip}} {{key|default('Missing')}}
{% set turnip = turnip ~ '#' %}

{{block.title|default('Missing Title')}}

{{block.description|default('missing description')}}

{% if block.properties is defined %}

|Key|Title|Description|Type|Default|Allowed Values|Fixed Value|Properties|Required|
|---|---|---|---|---|---|---|---|---|
{% for key, value in block.properties.items()|default({}) %}
{% set bean = namespace() %}
{% set bean.data = '' %}
{%- for subkey, subvalue in value.items() if subkey not in ['type', 'oneOf', 'items', 'const', 'enum', 'default', 'title', 'description', 'properties', 'additionalProperties', 'required'] -%} 
{%- if loop.first -%}
{% set bean.data = subkey ~ ' = ' ~ subvalue %}
{% else %}
{% set bean.data = bean.data ~ '<br>' ~ subkey ~ ' = ' ~ subvalue %}
{% endif %}
{% endfor %}
{% if value.type == 'object' %}
{% set type = '[object](#' ~ key|default() ~ ')' %}
{% elif value.type == 'array' %}
{% if value['items'].anyOf is defined %}
{% set potato = namespace() %}
{% set potato.data = '' %}
{% for subvalue in value['items'].anyOf %}
{% if loop.first %}
{% set potato.data = subvalue.type %}
{% else %}
{% set potato.data = potato.data ~ ',' ~ subvalue.type %}
{% endif %}
{% endfor %}
{% set type = value.type ~ '[' ~ potato.data ~ ']' %}
{% else %}
{% set type = value.type ~ '[' ~ value['items'].type|default() ~ ']' %}
{% endif %}
{% else %}
{% set type = value.type %}
{% endif %}
{% if key in block.required|default() %}
{% set parsnip = 'true' %}
{% else %}
{% set parsnip = 'false' %}
{% endif %}
|{{key}}|{{value.title|default}}|{{value.description|default()}}|{{type}}|{{value.default|default()}}|{{value.enum|default()}}|{{value.const|default()}}|{{bean.data}}|{{parsnip|default()}}|
{% endfor %}
{% for key, value in block.properties.items()|default({}) if value.type == 'object' %}
{% set block = value %}
{% include 'Block.j2' %}
{% endfor %}
{% for key, value in block.properties.items()|default({}) if value.type == 'array' and value['items'].type|default() == 'object' %}
{% set block = value['items'] %}
{% include 'Block.j2' %}
{% endfor %}
{% endif %}
{% if block.additionalProperties.properties is defined %}
{% set block = block.additionalProperties %}
{% include 'Block.j2' %}
{% endif %}
{% if block.oneOf is defined %}
{% for value in block.oneOf|default() %}
{% set block = value %}
{% include 'Block.j2' %}
{% endfor %}
{% endif %}



